<!DOCTYPE html>
<html lang="en">
<body>
  <div>
    <p></p>
    <p></p>
    <p> </p>
    <div class="card" style="width: 800px;">
      <div class="card-header">
        Username posted:
      </div>
      <div class="card-body">
        <h4 class="card-title">{{post.title}}</h4>
        <p class="card-text">{{post.body}}</p>
      </div>
      <div class="card-footer">
        Rating: {{post.rating}}
        <button class="btn btn-outline-danger text-monospace float-right" type="button" style="width: 40px;height: 40px;" (click)="DownVote()">-</button>
        <button class="btn btn-outline-danger text-monospace float-right" type="button" style="width: 40px;height: 40px;" (click)="UpVote()">+</button>
      </div>
    </div>
  </div>
</body>
</html>
